@{
    ViewData["Title"] = "Payment";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>payment</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <form action="/charge" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">
      クレジット・デビットカード番号
    </label>
    <div id="card-element">
      <!-- Stripe Element がここに入る。 -->
    </div>
    <!-- Element のエラー。 -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>お支払い</button>
</form>
<script src='https://js.stripe.com/v3/'></script>
<script  src="index.cshtml.js"></script>
  </body>
</html>