@{
    ViewData["Title"] = "Payment";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>payment</title>
   
  </head>
  <body>
    <form id="payment-form" data-secret="@ViewData["ClientSecret"]">
  <div class="card-form">
    <label for="card-element">
      クレジット・デビットカード番号
    </label>
    <div id="card-element">
      <!-- Stripe Element がここに入る。 -->
    </div>
    <div id="card-errors" role="alert">
      <!-- Element のエラー。 -->
    </div>
  </div>

  <button id="submit">お支払い</button>
</form>
 <script type="text/javascript">//外部参照型にしたい？
var stripe = Stripe('pk_test_51LvqPVCgb8glDeFeUR36pjfxK76LI9ydEBwyOp0DhAM1oAm910nCPX6HBUrhJvgGzZlyRbn0UVaGvsaUaZ4OgOTb00uXxqOXQt');
var elements = stripe.elements();
var style = {
    base: {
        // ここでStyleの調整
        fontSize: '16px',
        color: "#32325d",
    }
};

// card Element のインスタンスを作成
var card = elements.create('card', { style: style });

// マウント
card.mount('#card-element');
/*
//項目入力時のError処理
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

//トークン作成もしくはエラー表示

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // エラー表示.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // トークンをサーバに送信
      stripeTokenHandler(result.token);
    }
  });
});
 //tokenをバックエンドに送信
function stripeTokenHandler(token) {
  // tokenをフォームへ包含し送信
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);
  form.submit();
}*/



var stripe = Stripe('pk_test_51LvqPVCgb8glDeFeUR36pjfxK76LI9ydEBwyOp0DhAM1oAm910nCPX6HBUrhJvgGzZlyRbn0UVaGvsaUaZ4OgOTb00uXxqOXQt');
var elements = stripe.elements();
var style = {
    base: {
        // ここでStyleの調整
        fontSize: '16px',
        color: "#32325d",
    }
};

// card Element のインスタンスを作成
var card = elements.create('card', { style: style });

// マウント
card.mount('#card-element');
/*const items = [{ id: "xl-tshirt" }];

initialize();
checkStatus();

document
  .querySelector("#payment-form")
  .addEventListener("submit", handleSubmit);/*

  </script>
  </body>
</html>